@media screen and (min-width:400px){
    * {
        font-family: 'Helvetica', sans-serif;
        font-size: 30px;
    }
}
@media screen and (min-height:700px){
    * {
        font-family: 'Helvetica', sans-serif;
        font-size: 30px;
    }
}
p{
    font-weight: lighter;
    color: #FC853F;
    display: flex;
}

a:link{
    font-weight:light;
    color: #FC853F
}

a:visited{
    color: #86B3B3;
}
a:hover{
    color: black;
}
hr.orange {
    border-top: 4px #FC853F;
}

hr.blue {
    border-top: 4px #86B3B3;
}

#albums, #songs{
    color: black;
}

ul{
    color: #86B3B3;
}

ol{
    color:#86B3B3;
}