html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: monospace;
    background-color: #666666;
    animation: colorRotate 6s linear 0s infinite;
  }
  
  .app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  
  header {
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ebebeb;
  }
  
  .quotes {
    padding: 20px 50px;
    min-height: 200px;
  }
  
  .quote-text {
    text-align: center;
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
    animation: colorRotate 6s linear 0s infinite;
  }
  @keyframes colorRotate{
    from {
        color: #6666ff;
      }
      10% {
        color: #0099ff;
      }
      50% {
        color: #00ff00;
      }
      75% {
        color: #ff3399;
      }
      100% {
        color: #6666ff;
      }
  }
  
  .controls {
    width: 100%;
    padding: 20px 50px;
  }
  
  .button {
    display: block;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    font-size: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  
  .twitter {
    background-color: #1da1f2;
    text-decoration: none;
  }
  
  .twitter:hover {
    background-color: black;
  }
  
  .new-quote {
    background-color: #0051ff;
    margin-bottom: 15px;
  }
  
  .new-quote:hover {
    background-color: black;
  }
  
  .new-quote:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }
  
  @media screen and (max-width: 600px) {
    .app {
      width: 100%;
    }
    .quote-text {
      font-size: 18px;
    }
  }
  p{
    text-align: center;
    padding-bottom: 1em;
  }