h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
  color: #3e7070
}

body {
  width: 640px;
  margin: 0 auto;
}

.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(0,0,0,0);
}

button {
  border: 0;
  background: #86B3B3;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}
button:hover{
  color: orange;
}

.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
}